.faq_details {
  width: 100%;
}

.faq_summary {
  padding: 1rem;
}

.faq_answer {
  padding-right: 1rem;
  padding-left: 1rem;
}

#w-node-_111f254f-62e7-cbb5-ec2b-6fe60241cb82-0241cb82 {
}
#w-node-_111f254f-62e7-cbb5-ec2b-6fe60241cb83-0241cb82 {
}